@model BarberShop.Models.ManagerUser
@{
    ViewData["Title"] = "Index";
}

<h1>מנהל</h1>
<p>
    <div><a asp-action="Actions" asp-route-id="">הוספת תספורת</a></div>
    <div><a asp-action="Barbers">ספרים</a></div>
    <div><a asp-action="AddBarber">הוספת ספר</a></div>
    <div><a asp-action="ShowAllUsers">כל המשתמשים</a></div>
</p>

